// Place all the styles related to the Letters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$base: #F2EFEC;
$brown: #887E79;

body {
  background-color: $base;
}

table , td, th {
	border: 1px solid #595959;
	border-collapse: collapse;
}
td, th {
	padding: 3px;
	width: 80vw;
	height: 25px;
}
th {
	background: $brown;
}
.even {
	background: #fbf8f0;
}
.odd {
	background: #fefcf9;
}
